/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(https://takgames1.github.io/GamePadViewer/Xbox%20One%20omara_3/base2.png);
    height: 631px;
    width: 723px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
    background: url(https://takgames1.github.io/GamePadViewer/Xbox%20One%20omara_3/base2.png);
}

.xbox.disconnected {
    background: url(https://takgames1.github.io/GamePadViewer/Xbox%20One%20omara_3/disconnected.png);
}

.xbox.disconnected div {
    display: none;
}

.xbox .triggers {
    width: 446px;
    height: 121px;
    position: absolute;
    left: 143px;
}

.xbox .trigger {
    width: 88px;
    height: 121px;
    background: url(https://takgames1.github.io/GamePadViewer/Xbox%20One%20omara_3/trigger.png);
    opacity: 0;
}

.xbox .trigger.left {
    float: left;
    background-position: 0 0;
}

.xbox .trigger.right {
    float: right;
    transform: rotateY(180deg) translateX(11px);
}

.xbox .bumper {
    width: 170px;
    height: 61px;
    background: url(https://takgames1.github.io/GamePadViewer/Xbox%20One%20omara_3/bumper.png);
    opacity: 0;
}

.xbox .bumpers {
    position: absolute;
    width: 536px;
    height: 61px;
    left: 107px;
    top: 115px;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    float: left;
}

.xbox .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg) translateY(10px) translateX(20px);
}

.xbox .quadrant {
    position: absolute;
    background: url(https://takgames1.github.io/GamePadViewer/Xbox%20One%20omara_3/quadrant.png);
    height: 45px;
    width: 45px;
    top: 228px;
    left: 340px;
    z-index: 0;
}

.xbox .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.xbox .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.xbox .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.xbox .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.xbox .arrows {
    position: absolute;
    width: 141px;
    height: 33px;
    top: 264px;
    left: 306px;
}

.xbox .back, .xbox .start {
    background: url(https://takgames1.github.io/GamePadViewer/Xbox%20One%20omara_3/start-select.png);
    width: 33px;
    height: 33px;
    opacity: 0;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    float: left;
}

.xbox .start {
    background-position: 33px 0px;
    float: right;
}

.xbox .abxy {
    position: absolute;
    width: 153px;
    height: 156px;
    top: 175px;
    left: 475px;
}

.xbox .button {
    position: absolute;
    background: url(https://takgames1.github.io/GamePadViewer/Xbox%20One%20omara_3/abxy.png);
    width: 48px;
    height: 48px;
}

.xbox .button.pressed {
    background-position-y: -48px;
    margin-top: 5px;
    opacity: 1;
}

.xbox .a {
    background-position: 0 0;
    top: 102px;
    left: 55px;
}

.xbox .a.pressed {
    top: 93px;
    left: 55px;
}

.xbox .b {
    background-position: -49px 0;
    top: 58px;
    right: 0px;
}

.xbox .b.pressed {
    top: 50px;
    right: 0px;
}

.xbox .x {
    background-position: -97px 0;
    top: 52px;
    left: 4px;
}


.xbox .x.pressed {
    top: 48px;
    left: 5px;
}

.xbox .y {
    background-position: 48px 0;
    left: 55px;
    top: 7px;
}

.xbox .y.pressed {
    left: 55px;
    top: 2px;
}

.xbox .sticks {
    position: absolute;
    width: 371px;
    height: 196px;
    top: 239px;
    left: 144px;
}

.xbox .stick {
    position: absolute;
    background: url(https://takgames1.github.io/GamePadViewer/Xbox%20One%20omara_3/stick.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.xbox .stick.pressed {
    background-position: 0 0;
}

.xbox .stick.left {
    top: -40px;
    left: -15px;
}

.xbox .stick.right {
    top: 70px;
    left: 278px;
}

.xbox .dpad {
    position: absolute;
    width: 110px;
    height: 111px;
    top: 312px;
    left: 209px;
}

.xbox .face {
    background: url(https://takgames1.github.io/GamePadViewer/Xbox%20One%20omara_3/dpad.png);
    position: absolute;
    opacity: 0;
}

.xbox .face.pressed {
    opacity: 1;
}

.xbox .face.up {
    background-position: 34px 0;
    left: 38px;
    top: 0px;
    width: 34px;
    height: 56px;
}

.xbox .face.down {
    left: 38px;
    bottom: 0;
    width: 34px;
    height: 56px;
}

.xbox .face.left {
    background-position: 0 -93px;
    width: 55px;
    height: 35px;
    top: 38px;
    left: 0;
}

.xbox .face.right {
    background-position: 0 -57px;
    width: 55px;
    height: 35px;
    top: 38px;
    right: 0;
}

.xbox.half {
    margin-top: -315px;
}

.xbox {
    background: no-repeat center;
}

/*END Xbox One Controller Styling*/
